/*
 * Общие
 */

html,
body
{
  overflow-x: hidden;

  min-width: 320px;
  height: 100%;
}

html
{
  font-size: 100%;
}

body
{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;

  position: relative;

  background: #ebf4f9;
}

.layout
{
  min-height: 100%;
  padding-bottom: 370px;
}

.footer
{
  height: 370px;
  margin-top: -370px;

  background: #383838;
}

.wrapper
{
  position: relative;

  overflow-y: auto;

  width: 100%;
  height: 100%;
}

.open .wrapper
{
  left: 230px;

  overflow-y: hidden;
}

.section_head
{
  text-align: center;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-bottom: 60px;
}

.section
{
  padding: 60px 0;
}

.btn
{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  background: #008dd2;
  text-align: center;
  display: inline-block;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover
{
  background: #007bb7;
}

.content
{
  padding-top: 60px;
  padding-bottom: 60px;
}


/*
 * Мобильное меню
 */

.sidebar_mob
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: -230px;

  overflow-y: auto;

  width: 230px;
  background: #fff;
}

.open .sidebar_mob
{
  left: 0;
}

.curtain
{
  position: fixed;
  z-index: 30;
  top: 0;
  right: 0;
  bottom: 0;
  left: 230px;

  display: none;

  background-color: rgba(0,0,0,.5);
}

.open .curtain
{
  display: block;
}

.menu_mob
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu_mob a
{
  text-decoration: none;
  padding: 15px 0 15px 20px;
  display: block;
  color: #006fa6;
  border-bottom: 1px solid #CEE4EF;
}

.menu_mob .active a
{
  background: #006fa6;
  color: #ffffff;
  border-bottom: 1px solid #006fa6
}



/*
 * Мобильный заголовок
 */

.header_mob
{
  position: relative;

  height: 45px;

  background: #fff;
}

.page_title
{
  line-height: 45px;

  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;

  overflow: hidden;

  padding: 0 50px;

  text-align: center;
  text-overflow: elipse;
}

.nav_mob_toggle
{
  position: relative;
  z-index: 20;

  float: left;

  width: 45px;
  height: 45px;
  padding: 14px 10px;
}

.nav_mob_toggle span
{
  display: block;

  height: 3px;
  margin-bottom: 3px;

  border-radius: 4px;
  background: #008dd2;
}

.logo_mob
{
  position: relative;
  z-index: 20;

  display: block;
  float: right;

  width: 45px;
  height: 45px;

  background: url(../img/logo-mobile.png) no-repeat left top;
}



/*
 * Заголовок
 */

.header
{
  height: 58px;

  background: #fff;
}

.logo
{
  display: block;
  float: left;

  width: 184px;
  height: 45px;
  margin: 6px 0 0 0;

  background: url(../img/logo.png) no-repeat left top;
}

.menu
{
  float: right;

  margin: 0;
  padding: 0;
}

.menu li
{
  float: left;

  list-style-type: none;
}

.menu a
{
  font-size: 1.125rem;
  line-height: 58px;

  display: block;

  height: 58px;
  padding: 0 10px;

  text-decoration: none;

  color: #006fa6;
}

.menu .active a,
.menu a:hover
{
  text-decoration: underline;
}



/*
 * Горячие предложения
 */

.slider_hot
{
  height: 392px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.slider_hot:before 
{
  content: " ";
  position: absolute;
  background: rgba(255,255,255,0.7);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.slider_hot_toggle
{
  margin-top: 30px;
  position: relative;
}

.select_country
{
  font-size: 2.25rem;
  line-height: 2.50rem;
  font-weight: 300;
  font-style: italic;

  text-align: center;

  color: #bf0000;
  border: none;
  border-bottom: 1px solid #bf0000;
  outline: none;
  background: transparent url(../img/appearance.png) no-repeat right center;
  padding-right: 10px;
  width: 100%;

  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
          appearance: none;
}

.select_country_wrap
{
  padding: 112px 0 0 0;
  background: url(../img/fire.png) no-repeat center top;
  width: 170px;
  margin: auto;
}

.shgroup
{
  margin-top: 30px;
}

.shgroup_item
{
  color: #000000;
  text-align: center;
  font-size: 2rem;
  font-style: italic; 
}

.direction_nav
{
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 215px;
}

.direction_nav li
{
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  position: absolute;
}

.direction_nav li:hover
{
  opacity: 1;
}

.direction_nav .prev
{
  background-image: url(../img/left.png);
  left: -15px;
}

.direction_nav .next
{
  background-image: url(../img/right.png);
  right: -15px;
}



/*
 * Заявка
 */

.order 
{
  background: #ffffff;
}

label.error
{
  font-size: 0.75rem;
  color: #ff8d8d; 
}

.control
{
  border: 1px solid #ebebeb;
  width: 100%;
  color: #6a8294;
  margin-bottom: 20px;
  outline: none;
}

.control.error
{
  border-color: #f4c3c3;
}

textarea.control
{
  height: 120px;
  resize: none;
  padding: 15px;
}

select.control,
input.control
{
  font-size: 1.875rem;
  height: 72px;
  line-height: 70px;
  padding-left: 100px;
  background-repeat: no-repeat;
  background-position: 14px 7px;
}

select.control
{
  -webkit-appearance: none;
   -moz-appearance: none;
    -ms-appearance: none;
        appearance: none;
}

.control.__place_from
{
  background-image: url(../img/ico-place_from.png);
}

.control.__place_to
{
  background-image: url(../img/ico-place_to.png);
}

.control.__date_from
{
  background-image: url(../img/ico-date_from.png);
}

.control.__date_to
{
  background-image: url(../img/ico-date_to.png);
}

.control.__count
{
  background-image: url(../img/ico-count.png);
}

.control.__econom
{
  background-image: url(../img/ico-econom.png);
}

.center-text
{
  text-align: center;
}

.order .btn 
{
  font-size: 1.875rem;
  padding: 10px 80px;
}


/*
 * Всплывающее окно
 */
.ui-widget input, 
.ui-widget select, 
.ui-widget textarea, 
.ui-widget button,
.ui-widget
{
  font-family: 'Open Sans', sans-serif;
}

.ui-state-default, 
.ui-widget-content .ui-state-default
{
  background: #008dd2;
  color: #fff;
  border: none;
}

.ui-dialog .ui-dialog-buttonpane 
{ 
  text-align: center;
  padding-left: 0;
  padding-right: 0; 
  border: none;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset 
{ 
  float: none;
}

.ui-dialog .ui-dialog-buttonpane button
{
  margin: 0;
}

.ui-dialog .ui-corner-all
{
  border-radius: 0px;
}

.ui-dialog.ui-corner-all
{
  border-radius: 0px;
}

.ui-dialog-titlebar-close
{
  background: transparent !important;
  border: none;
}

/*.ui-dialog .ui-widget-header
{
  border: none;
  background: transparent;
}*/

.ui-widget-content
{
  background: #fff;
}

.ui-state-default .ui-icon 
{
  background-image: url(../js/jquery-ui/images/ui-icons_3d80b3_256x240.png) !important;
}

fieldset
{
  border: none;
  margin: 0;
  padding: 0;
}

.dform_label
{
  display: block;
  font-size: 0.875rem;
}

.dform_row + .dform_row
{
  margin-top: 15px;
}

.dcontrol
{
  border: 1px solid #ebebeb;
  border-radius: 0;
  width: 100%;
  color: #6a8294;
  outline: none;
}

.dcontrol.error
{
  border-color: #f4c3c3;
}

select.dcontrol,
input.dcontrol
{
  font-size: 1rem;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
}



/*
 * Команда
 */

.team
{
  background: url(../img/team_background.jpg) no-repeat center center;
  background-size: cover;
}

.team .section_head
{
  color: #ffffff;
}

.team_photo
{
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.team_item
{
  color: #ffffff;
  margin-bottom: 20px;
}

.team_header
{
  font-size: 1.2rem;
}

.team_desc
{
  font-size: 0.875rem;
}



/*
 * Услуги
 */

.service
{
  background: #ffffff;
}

.service_list
{
  position: relative;
}

.service_item
{
  position: relative;
  z-index: 10;
}

.earth
{
  display: none;
  position: absolute;
  width: 350px;
  left: 50%;
  top: 50%;
  margin-left: -175px;
  margin-top: -146px;
  z-index: 20;
}

.service_desc
{
  display: block;
  margin-bottom: 15px;
  position: relative;
  padding-left: 25px;
}

.service_desc:before
{
  position: absolute;
  content: " ";
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid #15a0bd;
  border-radius: 100%;
  left: 0;
  top: 4px;
}



/*
 * Футер
 */

.footer
{
  color: #ffffff;
  padding: 60px 0 30px;
  font-size: 0.875rem;
}

.footer a
{
  color: #45bffb;
}

.fo_header
{
  font-size: 1.875rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.logo-footer
{
  display: block;
  height: 200px;
  background: url(../img/logo-footer.png) no-repeat center top;
  background-size: contain;
}



/*
 * Статьи
 */

.fo_list
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.fo_item
{
  margin: 0 0 15px;
}



/*
 * Мы в соц.сетях
 */

.soc
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.soc_item a
{
  display: block;
  width: 46px;
  height: 47px;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  margin-right: 10px;
}

.soc_item.__od a
{
  background: url(../img/od.png);
}

.soc_item.__vk a
{
  background: url(../img/vk.png);
}