/*
 * Общие
 */

html,
body
{
  overflow-x: hidden;

  min-width: 320px;
  height: 100%;
}

html
{
  font-size: 100%;
}

body
{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;

  position: relative;

  color: #0d3350;
  background: #f3f7fa;
}

.layout
{
  min-height: 100%;
  padding-bottom: 370px;
}

.footer
{
  height: 370px;
  margin-top: -370px;

  background: #383838;
}

.wrapper
{
  position: relative;

  overflow-y: auto;

  width: 100%;
  height: 100%;
}

.open .wrapper
{
  left: 230px;

  overflow-y: hidden;
}

.section_head
{
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.2rem;

  margin-bottom: 60px;

  text-align: center;
}

.section
{
  padding: 60px 0;
}

.btn
{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;

  display: inline-block;

  padding: 10px 20px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;

  color: #fff;
  border: none;
  background: #008dd2;
}

.btn:hover
{
  background: #007bb7;
}

.content
{
  padding-top: 60px;
  padding-bottom: 60px;
}


/*
 * Мобильное меню
 */

.sidebar_mob
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: -230px;

  overflow-y: auto;

  width: 230px;

  background: #fff;
}

.open .sidebar_mob
{
  left: 0;
}

.curtain
{
  position: fixed;
  z-index: 30;
  top: 0;
  right: 0;
  bottom: 0;
  left: 230px;

  display: none;

  background-color: rgba(0,0,0,.5);
}

.open .curtain
{
  display: block;
}

.menu_mob
{
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.menu_mob a
{
  display: block;

  padding: 15px 0 15px 20px;

  text-decoration: none;

  color: #006fa6;
  border-bottom: 1px solid #cee4ef;
}

.menu_mob .active a
{
  color: #fff;
  border-bottom: 1px solid #006fa6;
  background: #006fa6;
}



/*
 * Мобильный заголовок
 */

.header_mob
{
  position: relative;

  height: 45px;

  background: #fff;
}

.page_title
{
  line-height: 45px;

  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;

  overflow: hidden;

  padding: 0 50px;

  text-align: center;
  text-overflow: elipse;
}

.nav_mob_toggle
{
  position: relative;
  z-index: 20;

  float: left;

  width: 45px;
  height: 45px;
  padding: 14px 10px;
}

.nav_mob_toggle span
{
  display: block;

  height: 3px;
  margin-bottom: 3px;

  border-radius: 4px;
  background: #008dd2;
}

.logo_mob
{
  position: relative;
  z-index: 20;

  display: block;
  float: right;

  width: 45px;
  height: 45px;

  background: url(../img/logo-mobile.png) no-repeat left top;
}



/*
 * Заголовок
 */

.header
{
  height: 58px;

  background: #fff;
}

.logo
{
  display: block;
  float: left;

  width: 184px;
  height: 45px;
  margin: 6px 0 0 0;

  background: url(../img/logo.png) no-repeat left top;
}

.menu
{
  float: right;

  margin: 0;
  padding: 0;
}

.menu li
{
  float: left;

  list-style-type: none;
}

.menu a
{
  font-size: 1.125rem;
  line-height: 58px;

  display: block;

  height: 58px;
  padding: 0 10px;

  text-decoration: none;

  color: #006fa6;
}

.menu .active a,
.menu a:hover
{
  text-decoration: underline;
}



/*
 * Горячие предложения
 */

.slider_hot
{
  position: relative;

  overflow: hidden;

  height: 392px;

  background-repeat: no-repeat;
  background-size: cover;
}

.slider_hot:before
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content: ' ';

  background: rgba(255,255,255,.7);
}

.slider_hot_toggle
{
  position: relative;

  margin-top: 30px;
}

.select_country
{
  font-size: 2.25rem;
  font-weight: 300;
  font-style: italic;
  line-height: 2.50rem;

  width: 100%;
  padding-right: 10px;

  text-align: center;

  color: #bf0000;
  border: none;
  border-bottom: 1px solid #bf0000;
  outline: none;
  background: transparent url(../img/appearance.png) no-repeat right center;

  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
          appearance: none;
}

.select_country_wrap
{
  width: 170px;
  margin: auto;
  padding: 112px 0 0 0;

  background: url(../img/fire.png) no-repeat center top;
}

.shgroup
{
  margin-top: 30px;
}

.shgroup_item
{
  font-size: 2rem;
  font-style: italic;

  text-align: center;

  color: #000;
}

.direction_nav
{
  position: absolute;
  top: 215px;
  right: 0;
  left: 0;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.direction_nav li
{
  position: absolute;

  width: 72px;
  height: 72px;

  cursor: pointer;

  background-repeat: no-repeat;
  background-position: center center;
}

.direction_nav li:hover
{
  opacity: 1;
}

.direction_nav .prev
{
  left: -15px;

  background-image: url(../img/left.png);
}

.direction_nav .next
{
  right: -15px;

  background-image: url(../img/right.png);
}



/*
 * Заявка
 */

.order
{
  background: #fff;
}

label.error
{
  font-size: .75rem;

  color: #ff8d8d;
}

select.control,
input.control,
textarea.control
{
  width: 100%;
  margin-bottom: 20px;

  color: #6a8294;
  border: 1px solid #ebebeb;
  outline: none;
}

.control.error
{
  border-color: #f4c3c3;
}

textarea.control
{
  height: 120px;
  padding: 15px;

  resize: none;
}

select.control,
input.control
{
  font-size: 1.875rem;
  line-height: 70px;

  height: 72px;
  padding-left: 100px;

  background-repeat: no-repeat;
  background-position: 14px 7px;
}

select.control
{
  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
          appearance: none;
}

.control.__place_from
{
  background-image: url(../img/ico-place_from.png);
}

.control.__place_to
{
  background-image: url(../img/ico-place_to.png);
}

.control.__date_from
{
  background-image: url(../img/ico-date_from.png);
}

.control.__date_to
{
  background-image: url(../img/ico-date_to.png);
}

.control.__count
{
  background-image: url(../img/ico-count.png);
}

.control.__econom
{
  background-image: url(../img/ico-econom.png);
}

.center-text
{
  text-align: center;
}

.order .btn
{
  font-size: 1.875rem;

  padding: 10px 80px;
}


/*
 * Всплывающее окно
 */
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button,
.ui-widget
{
  font-family: 'Open Sans', sans-serif;
}

.ui-state-default,
.ui-widget-content .ui-state-default
{
  color: #fff;
  border: none;
  background: #008dd2;
}

.ui-dialog .ui-dialog-buttonpane
{
  padding-right: 0;
  padding-left: 0;

  text-align: center;

  border: none;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset
{
  float: none;
}

.ui-dialog .ui-dialog-buttonpane button
{
  margin: 0;
}

.ui-dialog .ui-corner-all
{
  border-radius: 0;
}

.ui-dialog.ui-corner-all
{
  border-radius: 0;
}

.ui-dialog-titlebar-close
{
  border: none;
  background: transparent !important;
}

/*.ui-dialog .ui-widget-header
{
  border: none;
  background: transparent;
}*/

.ui-widget-content
{
  background: #fff;
}

.ui-state-default .ui-icon
{
  background-image: url(../js/jquery-ui/images/ui-icons_3d80b3_256x240.png) !important;
}

fieldset
{
  margin: 0;
  padding: 0;

  border: none;
}

.dform_label
{
  font-size: .875rem;

  display: block;
}

.dform_row + .dform_row
{
  margin-top: 15px;
}

.dcontrol
{
  width: 100%;

  color: #6a8294;
  border: 1px solid #ebebeb;
  border-radius: 0;
  outline: none;
}

.dcontrol.error
{
  border-color: #f4c3c3;
}

select.dcontrol,
input.dcontrol
{
  font-size: 1rem;
  line-height: 40px;

  height: 40px;
  padding: 0 15px;
}



/*
 * Команда
 */

.team
{
  background: url(../img/team_background.jpg) no-repeat center center;
  background-size: cover;
}

.team .section_head
{
  color: #fff;
}

.team_photo
{
  width: 100px;
  height: 100px;

  border-radius: 100%;
}

.team_item
{
  margin-bottom: 20px;

  color: #fff;
}

.team_header
{
  font-size: 1.2rem;
}

.team_desc
{
  font-size: .875rem;
}



/*
 * Услуги
 */

.service
{
  background: #fff;
}

.service_list
{
  position: relative;
}

.service_item
{
  position: relative;
  z-index: 10;
}

.earth
{
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;

  display: none;

  width: 350px;
  margin-top: -146px;
  margin-left: -175px;
}

.service_desc
{
  position: relative;

  display: block;

  margin-bottom: 15px;
  padding-left: 25px;
}

.service_desc:before
{
  position: absolute;
  top: 4px;
  left: 0;

  display: block;

  width: 15px;
  height: 15px;

  content: ' ';

  border: 2px solid #15a0bd;
  border-radius: 100%;
}



/*
 * Футер
 */

.footer
{
  font-size: .875rem;

  padding: 60px 0 30px;

  color: #fff;
}

.footer a
{
  color: #45bffb;
}

.fo_header
{
  font-size: 1.875rem;
  font-weight: 300;

  margin-bottom: 1rem;
}

.logo-footer
{
  display: block;

  height: 200px;

  background: url(../img/logo-footer.png) no-repeat center top;
  background-size: contain;
}



/*
 * Статьи
 */

.fo_list
{
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.fo_item
{
  margin: 0 0 15px;
}



/*
 * Мы в соц.сетях
 */

.soc
{
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.soc_item a
{
  display: block;
  float: left;

  width: 46px;
  height: 47px;
  margin-right: 10px;

  background-repeat: no-repeat;
  background-position: center center;
}

.soc_item.__od a
{
  background: url(../img/od.png);
}

.soc_item.__vk a
{
  background: url(../img/vk.png);
}



/*
 * Хлебные крошки
 */

.breadcrumb
{
  margin: 0 0 60px;
  padding: 0;

  list-style-type: none;
}

.breadcrumb li
{
  float: left;
}

.breadcrumb a
{
  color: #006fa6;
}

h1
{
  font-size: 3rem;
  font-weight: 300;
  line-height: 3rem;

  margin: 0 0 40px;
}



/*
 * Статьи
 */

.article
{
  margin-top: 60px;
}

.article:first-child
{
  margin-top: 0;
}

.article_head
{
  font-size: 1.875rem;
  line-height: 1.875rem;

  margin: 0;
}

.article_banner
{
  width: 100%;
  max-width: 100%;
  margin-top: 30px;
}

.article_intro
{
  margin: 30px 0;
}

.article_intro p
{
  margin-top: 15px;
}

.article_intro p:first-child
{
  margin: 0;
}



/*
 * Breadcrumbs
 */

.pagination
{
  margin: 60px 0;
  padding: 0;

  list-style-type: none;
}

.pagination li
{
  float: left;

  margin-right: 8px;
}

.pagination a,
.pagination span
{
  line-height: 33px;

  display: block;

  width: 34px;
  height: 34px;

  text-align: center;
  text-decoration: none;

  color: #008dd2;
  border: 1px solid #008dd2;
  border-radius: 100%;
}

.pagination span
{
  color: #b8cdd7;
  border: 1px solid #b8cdd7;
}

.pagination a:hover
{
  background: #d2e7f1;
}

.pagination .active a
{
  color: #fff;
  background: #008dd2;
}



/*
 * Элементы боковой панели
 */

.sidebar_banner
{
  display: block;
}

.sidebar_banner img
{
  max-width: 100%;
}

.sidebar_banner.__two
{
  margin-top: 45px;
}

select.base_control,
input.base_control,
textarea.base_control
{
  width: 100%;

  color: #6a8294;
  border: 1px solid #ebebeb;
  outline: none;
}

select.base_control,
input.base_control
{
  line-height: 38px;

  height: 40px;
  padding: 0 15px;
}

input.search
{
  padding: 0 40px 0 15px;
}

.search_wrapper
{
  position: relative;

  margin: 45px 0;
}

.search_btn
{
  position: absolute;
  right: 0;

  width: 40px;
  height: 40px;

  opacity: .5;
  top: 0;
  background: url(../img/ico-search.png) no-repeat center center;
  border: none;
  padding: 0;
  color: transparent;
}

.search_btn:hover
{
  opacity: 1;
}



/*
 * Категории статей
 */

.category
{
  margin: 45px 0;
  padding: 5px 0;
  list-style-type: none;
  border-left: 1px solid #d6d6d6;
}

.category li
{
  margin: 15px 0;
  padding-left: 15px;
}

.category a
{
  color: #006fa6;
}



/*
 * Контакты
 */

.map
{
  height: 368px;
}

.contacts header
{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contacts
{
  background: #ffffff;
  padding: 15px;
}